@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #f57c00;
  --font-roboto: 'Roboto', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
